.Menu {
  height: 100%;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

.Menu>a {
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  height: 40px;
  text-decoration: none;
}

.Menu>.active {
  color: rgb(174, 163, 145);
  font-weight: bold;
}

.Menu>a:hover {
  color: rgb(174, 163, 145);
}
