

.font-link {
    font-family: 'Press Start 2P';
    font-size: small;
  }


html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    color: white;
    background-image: url("../src/Assets/Images/milkyway.webp");
    background-size: 37%;
}

a {
    color: blue;
    font-family: 'Geostar';
}

form {
    width: 250px;
    text-align: left;
}

form > h2 {
    text-align: center;
}

form > input, form > button {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.Box {
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(126, 24, 158);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.Error {
    color: red;
    margin: 0 20px;
    position: absolute;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
